<div class=" content pure-u-1 pure-u-md-3-4 ">
    <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a ui-sref="overview" class="pure-menu-link" style="padding:0px;">Overview /</a></li>
            <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link" style="padding:0px;">Q2 </a></li>
        </ul>
    </div>
    <h2 style="text-decoration:underline">Things I Wish I knew from my linkedin profile</h2>
    <div class="posts">
        <article>
            <header>
                <h3>1. Everytime I see a new view on my linkedin profile I've always wondered what <b>triggered</b> the view</h3>
            </header>
            <p>
                <ul>
                    <li style="padding:10px 0px;">
                        The specific update that a person had seen which gave me my view
                    </li>
                    <li style="padding:10px 0px;">
                        What would also be fascinating is the number of people who saw the update but did not engage with it.
                    </li>
                </ul>
            </p>
            <header>
                <h3>2. Analytics for my alumni network</h3>
            </header>
            <p>
                <ul>
                    <li style="padding:10px 0px;">
                        Types of Industries my alumni network belongs to
                    </li>
                    <li style="padding:10px 0px;">
                        Overall view of the industry connections my alumni network has
                    </li>
                </ul>
            </p>
            <header>
                <h3>3. Analytics for my profile</h3>
            </header>
            <p>
                <ul>
                    <li style="padding:10px 0px;">
                        The amount of time a visitor spent on my profile
                    </li>
                    <li style="padding:10px 0px;">
                        What percentage of my profile did a visitor scroll through
                    </li>
                    <li style="padding:10px 0px;">
                        Added bonus would be a break-down of the time spent on different portions of the profile
                    </li>
                </ul>
            </p>
        </article>
    </div>
</div>
