<div class=" content pure-u-1 pure-u-md-3-4 ">
    <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a ui-sref="overview" class="pure-menu-link" style="padding:0px;">Overview /</a></li>
            <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link" style="padding:0px;">Q3 </a></li>
        </ul>
    </div>
    <h2>3 Growth hacks to increase linkedin's # of users</h2>
    <div class="posts">
        <article>
            <h1 class="content-subhead">1.Lynda Nano/Microdegree </h1>
            <section class="post">
                For a good part, I feel like among the suite of tools linkedin acquired lynda is one that has seemingly not been used to it's full potential. Linkedin sits on a gold mine with having lynda in it's suite of tools and access to recruiters on the other side.
                As a growth hack, I'd get to work with recruiters in all fields and put out content/curriculum in the form of nano degrees in lynda, from which when you graduate you get hired by the recruiters who worked to put the content out. Udacity
                and the rest have it hard cause of their restriction to tech however lynda has no such limitation. <br /><br /><br />* A nano/micro degree being a six to 12 month online course.
            </section>
        </article>
    </div>
    <div class="posts">
        <article>
            <h1 class="content-subhead">2.Use Pulse for Publishing as a service</h1>
            <section class="post">
                Linkedin already has access to enough and more corporates that have their company pages on linkedin. Leveraging of that, pulse can be converted into a effective 'Medium' like solution where in companies can start blogging through pulse. By pushing coporate
                publishing through pulse, linkedin can solidify stickiness for existing partners but also sign up new partners.
            </section>
        </article>
    </div>
    <div class="posts">
        <article>
            <h1 class="content-subhead">3.Take the lid of their API </h1>
            <section class="post">
                Given the number of services that use linkedin to interact/reach out for their hiring, ads and other marketing related purposes it does not make sense for linkedin to close off their API. But it adds more argument for them to open up their API and excercise
                control accordingly through an effective pricing scheme(traditionally per call) and a good legal policy like facebook maintains for their API. Opening up their API, allows for higher user adoption as it signfies their platform as being
                flexible and easy to use.
            </section>
        </article>
    </div>
</div>
</div>
</div>
