<div class=" content pure-u-1 pure-u-md-3-4 ">
    <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a ui-sref="overview" class="pure-menu-link" style="padding:0px;">Overview /</a></li>
            <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link" style="padding:0px;">Q4 </a></li>
        </ul>
    </div>
    <div class="posts">
        <article>
            <h2>Life Story </h2>
            <section class="post">
                I thought long and hard about this question, cause it is one that has been on my mind a fair bit. I've tried to come up with earth shattering revelations but one vivid memory sticks through. My favourite teacher was my english teacher, who had time on
                her hands to interact with her class, engage in discussion, encourage me to pursue external passions all while discussing textbook lessons in class.The teacher I had most amount of disdain toward, was my chemistry teacher who kept rushing
                through the portion, did not let us do any of the salt analysis tests but just wanted to rush through cause of all the coursework that had to be done by her.


                <br /><br /><br /> The only main differentiator besides ofcourse either of them being too nice, is the <b>amount of time</b> they had at their disposal.

                <br /><br /><br /> Over the course of time as I've thought about this maturely, I've come to realise if there is one thing I would do, <b>it would be to do whatever I can to help free up a teachers time</b>. A teacher's time is split between
                preparing for the course, menial paperwork,grading and a lot of other things. Using the power of technology to help free up a teacher's time would be the most powerful thing I could do.

                <br /><br /> As I've come to realise, the amount of time at a teacher's disposal is at times what can determine the amount of impact and influence a teacher yields over his/her class. A teacher with free bouts of time can now be in the
                loop with parental conversations, help push kids to extend their limits, upskill herself and indulge in research. It is such a teacher who can then go onto make great students.

            </section>
        </article>
    </div>
</div>
